<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8"/>
            <title>Note List lab4</title>
            <style type="text/css">
            /* Menggunakan internal css */
                  .card {
                        box-shadow: 0 4px 8px;
                        transition: 0.3s;
                        border-radius: 5px;
                  }
                  .card:hover {
                        box-shadow: 16px;
                        color: black;
                  }
                  h2 { color: goldenrod}

                  a{
                        padding: 10px;
                        color: white;
                        font-family: 'Gill Sans';
                        font-size: 15px;
                        text-decoration: none;
                  }
                  ul{
                        padding: 5px;
                        margin: 0;
                        overflow: hidden;
                        background-color: grey;
                  }
                  li{
                        list-style: none;
                        display: inline;
                        float: left;
                  }
                  li a{
                        background: grey;
                        color: white;
                  }
                  li a:hover{
                        background: #4da4ff;
                        color: #ffff;
                  }
            </style>
      </head>
      <body>
            <nav class="navbar">
                  <ul>
                        <li><a href="/lab-4">Home</a></li>
                        <li><a href="/lab-4/add_note">Note Form</a></li>
                        <li><a href="/lab-4/note_list">Note List</a></li>
                  </ul>
            </nav>
            <br>
            <h2>List Catatan Yang Di isi!</h2>
            <div>
                  <div class="container">
                        <div class="card-content">

                              {% for i in forms %}
                              <div class="card">
                              <tr>
                                    <th><b>To:</b></th>
                                    <td>{{i.To}}</td>
                              <br>
                                    <th><b>From:</b></th>
                                    <td>{{i.From}}</td>
                              <br>
                                    <th><b>Title:</b></th>
                                    <td>{{i.title}}</td>
                              <br>
                                    <th><b>Message:</b></th>
                                    <td>{{i.message}}</td>
                              <br>
                              </tr>
                              <br>
                        </div>
                              {% endfor %}

                  </div>
            </div>
      </body>
</html>