<!DOCTYPE html>
<html>
      <head>
            <title>Form Isian Notes</title>
            <style type="text/css">
                  p{
                        padding: 8px;
                        background-color: darkolivegreen;
                        font-family: 'Lucida Sans';
                        font-size: 0.8rem;
                        font-style: inherit;
                        color: aquamarine
                  }
                  form{
                        padding: 10px;
                        background-color: lightskyblue;
                        font-family: Arial;
                        font-size: 0.6rem;
                        font-style: unset;
                        color: darkolivegreen
                  }

                  a{
                        padding: 10px;
                        color: white;
                        font-family: 'Gill Sans';
                        font-size: 15px;
                        text-decoration: none;
                  }
                  ul{
                        padding: 5px;
                        margin: 0;
                        overflow: hidden;
                        background-color: grey;
                  }
                  li{
                        list-style: none;
                        display: inline;
                        float: left;
                  }
                  li a{
                        background: grey;
                        color: white;
                  }
                  li a:hover{
                        background: #4da4ff;
                        color: #ffff;
                  }
            </style>
      </head>
      <body>
            <nav class="navbar">
                  <ul>
                        <li><a href="/lab-4">Home</a></li>
                        <li><a href="/lab-4/add_note">Note Form</a></li>
                        <li><a href="/lab-4/note_list">Note List</a></li>
                        <li><a href="#">Add Note</a></li>
                  </ul>
            </nav>
            <br>
            <p><strong>Boleh nih kasih pesan dulu :)</strong></p>
            <form action="" method="POST">
                  {% csrf_token %}
                  To          : <input name="To" type="text"><br>
                  <br>
                  From        : <input name="From" type="text"><br>
                  <br>
                  Title       : <input name="title" type="text"><br>
                  <br>
                  Message     : <input name="message" type="text"><br>
                  <br>
                  <input type="submit" value="Submit">
            </form>
      </body>
</html>
