<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8" />
            <title>Notes at Lab4</title>
            <style type="text/css">
            /* Menggunakan Internal CSS */
                  h1{
                        padding: 5px;
                        color: goldenrod;
                        font-family: 'San-Serif';
                        font-size: 1rem;
                  }
                  th{
                        padding: 7px;
                        color: greenyellow;
                        background-color: cadetblue;
                        font-family: Verdana;
                        font-size: 0.6rem;
                  }

                  a{
                        padding: 10px;
                        color: white;
                        font-family: 'Gill Sans';
                        font-size: 15px;
                        text-decoration: none;
                  }
                  ul{
                        padding: 5px;
                        margin: 0;
                        overflow: hidden;
                        background-color: grey;
                  }
                  li{
                        list-style: none;
                        display: inline;
                        float: left;
                  }
                  li a{
                        background: grey;
                        color: white;
                  }
                  li a:hover{
                        background: #4da4ff;
                        color: #ffff;
                  }
            </style>
      </head>
      <body>
            <nav class="navbar">
                  <ul>
                        <li><a href="/lab-4">Home</a></li>
                        <li><a href="/lab-4/add_note">Note Form</a></li>
                        <li><a href="/lab-4/note_list">Note List</a></li>
                  </ul>
            </nav>
            <br>
            <h1>Ini adalah isi Notes Lab4!</h1>
            <table border="1" cellpadding="7">
                  <tr>
                        <th>To</th>
                        <th>From</th>
                        <th>Title</th>
                        <th>Message</th>
                  </tr>
                  {% for i in notes %}
                  <tr>
                        <td>{{i.To}}</td>
                        <td>{{i.From}}</td>
                        <td>{{i.title}}</td>
                        <td>{{i.message}}</td>
                  </tr>
                  {% endfor %}
            </table>
      </body>
</html>
