<!DOCTYPE html>
<html>
      <head>
            <title>Form Data Friends</title>
            <p><strong>Silahkan Isi Data Diri Anda!</strong></p>
      </head>
      <body>
            <form action="" method="POST">
                  {% csrf_token %}
                  Name          : <input name="name" type="text"><br>
                  <br>
                  NPM           : <input name="npm" type="number"><br>
                  <br>
                  Date Of Birth : <input name="DOB" type="date"><br>
                  <input type="submit" value="Submit">
            </form>
      </body>
</html>
