<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8"/>
            <title>Friend List</title>
      </head>
      <body>
            <p>Dibawah ini merupakan daftar teman</p>
            <table border="2" cellpadding="6">
                  <tr>
                        <th>Name</th>
                        <th>NPM</th>
                        <th>DOB</th>
                  </tr>
                  {% for i in friends %}
                  <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.npm}}</td>
                        <td>{{i.DOB}}</td>
                  </tr>
                  {% endfor %}
            </table>
      </body>
</html>