<!DOCTYPE html>
<html>
      <head>
            <meta charset="UTF-8" />
            <title>{{ note }}</title>
      </head>
      <body>
            <h1>Hello, this is {{ note }}.</h1>
            <p>Page ini berisi pesan singkat.</p>
      </body>
</html>