<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8" />
            <title>Notes</title>
      </head>
      <body>
            <h1>Ini adalah isi Notes</h1>
            <table border="2" cellpadding="7">
                  <tr>
                        <th>To</th>
                        <th>From</th>
                        <th>Title</th>
                        <th>Message</th>
                  </tr>
                    {% for i in notes %}
                  <tr>
                        <td>{{i.To}}</td>
                        <td>{{i.From}}</td>
                        <td>{{i.title}}</td>
                        <td>{{i.message}}</td>
                  </tr>
                  {% endfor %}
            </table>
      </body>
</html>
